body {
    font-family: "Roboto", sans-serif;
}


.about-me-pic {
    max-width: 66%;
    height: auto;
}

.resume-pic {
    max-height: 30%;
    width: auto;
}

.skill-img {
    max-height: 45px;
    width: auto;
}

.project-img {
    max-width: 325px;
    height: auto;
}